*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

i{
    font-size: 1.3rem;
}
.first-nav{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    padding: 1rem;
}

.main-nav{
    display: flex;
    padding: 1.2rem 0;
    background-color: darkblue;
    justify-content: space-around;
    align-items: center;
}


.main-nav img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-size: cover;
}

.main-nav .links{
    display: flex;
    gap: 2rem;
}

main{
    background-image: url(https://images.unsplash.com/photo-1494806812796-244fe51b774d?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 162.8px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-container{
    background-color: rgba(0, 0, 0, 0.513);
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;   
    gap: 1rem; 
    border-radius: 1rem;

    hr{
        width: 90%;
    }
}